* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #2D2C2E;
}

body {
    margin: 0;
    padding: 0;
}

.servicos-bg {
    background-color: #28292B;
}

footer {
    border-top: 1px solid #fff;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #28292B;
    color: #fff;
    padding: 20px;
    min-height: 90px;
    text-align: center;
}