* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #2D2C2E;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.servicos-bg {
    background-color: #28292B;
}

footer {
    border-top: 1px solid #fff;
    background-color: #28292B;
}

footer p {
    text-align: center;
    color: #fff;
    padding: 30px;
}